@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Lato';
    font-weight: 500;
}

/*  */
.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #010216;
    color: white;
    height: 92px;
    align-items: center;
}

.main-header__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 6.5rem;
}

.main-header__logo h4 {
    margin-left: 4px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
}

span {
    font-weight: bold;
}

.main-header__links {
    margin-left: -12rem;
}

/* .main-header__accounts {
    margin-right: 6.4rem;
} */

.main-header__links a,
.main-header__accounts a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    line-height: 50px;
    margin-right: 2rem;
}

.main-header__accounts a:last-of-type {
    padding: 6px 23px;
    background-color: white;
    color: black;
    border-radius: 5px;
}

.main-header__accounts a:last-of-type:hover {
    background-color: #F2C94C;
    color: white;
}

.container h3 {
    margin: 0;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
}

/* Hero section */

.hero-container {
    height: 21.75rem;
    text-align: center;
    background-color:#16172D;
    color: white;
}

.hero-container h3 {
    /* margin: 0; */
    padding-top: 5.75rem;
    /* font-family: 'Poppins';
    font-weight: 700;
    font-size: 48px;
    line-height: 72px; */
}

.hero-container__input {
    height: 3.25rem;
    width: 70%;
    background-color: white;
    margin: 1.5rem auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hero-container__input svg {
    padding-left: 1.5rem;
    /* vertical-align: center; */
}

.hero-container__input input {
    border: none;
    outline: none;
    flex: 0.8;
    padding-left: 1.25rem;
    /* font-family: 'Lato';
    font-weight: 500; */
    font-size: 17px;
    line-height: 50px;
}

/* Recommendation section */

.recommendation-container {
    height: 29.4rem;
    text-align: center;
    color: #16172D;
}

.recommendation-container h3 {
    /* margin: 0; */
    /* color: #16172D; */
    padding-top: 1.25rem;
    /* font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 63px; */
}

.recommendation-container > p {
    padding-top: 0.25rem;
    margin: 0;
    /* font-family: 'Lato';
    font-style: normal;
    font-weight: 500; */
    font-size: 17px;
    line-height: 20px;
    color: #16172D;
}

.recommendation-cards {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    flex-wrap: wrap;
    padding-top: 4.25rem;
}

.recommendation-card {
    padding: 19px 39px 51px 14px;
    text-align: left;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.recommendation-card div {
    display: flex;
    align-items: center;
}

.recommendation-card h5 {
    display: inline;
    margin: 0;  
    padding-left: 1rem;
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 20px;
    color: #676666;
    line-height: 30px;
}

.recommendation-card p {
    margin: 0;
    padding: 5px 0 0 66px;
    width: 18rem;
    /* font-family: 'Lato';
    font-weight: 500; */
    font-size: 24px;
    line-height: 29px;
}

/* Contact Section */

/* .contacts {
    position: relative;
} */

form {
    padding: 5.1rem 2.8rem 2.8rem 2.4rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 39rem;
    margin: 0 auto;
    transform: translateY(-2rem);
    background-color: #FFFF;
}

form label {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #191919;
    padding: 0.5rem 0;
}

.short-input {
    width: 39rem;
    height: 3.75rem;
    border: 1px solid #191919;
    box-sizing: border-box;
    border-radius: 10px;
}

.long-input {
    width: 39rem;
    height: 12.5rem;
    border: 1px solid #191919;
    box-sizing: border-box;
    border-radius: 10px;
}

.dashed-input {
    border: 1px dashed #191919;
    margin-bottom: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-family: 'Lato';
    font-weight: 500; */
    font-size: 20px;
    line-height: 24px;
    color: #676666;
    
}

/* #drop-area.highlight { 
    border-color: #F2C94C;
} */

#fileEl {
    display: none;
}

form button {
    margin-top: 1rem;
    color: white;
    width: 173px;
    height: 60px;
    background: #449342;
    opacity: 0.8;
    box-shadow: 0px 0px 10px rgba(68, 147, 66, 0.25);
    border-radius: 5px;
    cursor: pointer;
}

/* Footer section */

.footer-container {
    display: flex;
    justify-content: space-around;
}

.footer-items {
    display: flex;
}

.footer-items ul {
    margin-right: 2rem;
    list-style: none;
}

.footer-items li:first-of-type {
    padding-bottom: 1.25rem;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #010216;
    }

.footer-items a {
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(1, 2, 22, 0.8);
}

.copyright {
    text-align: center;
    margin-top: 1.8rem;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(1, 2, 22, 0.8);
}

@media (max-width: 77.5rem) {
    .main-header__logo {
        margin-left: 2rem;
    }
    .main-header__links {
        margin-left: -6rem;
    }
    .recommendation-container {
        height: 36rem;
    }
    .recommendation-card {
        margin-bottom: 1rem;
    }
    .footer-items ul {
        margin-right: 1rem;
    }
}


@media (max-width: 62.5rem) {
    .main-header__logo {
        margin-left: 1rem;
    }
    .main-header__links {
        margin-left: 2rem;
    }
    .recommendation-container {
        height: 36rem;
    }
    .recommendation-card {
        margin-bottom: 1rem;
    }
    .footer-items ul {
        margin-right: 0.5rem;
    }
}

@media (max-width: 54.5rem) {
    .main-header__logo svg {
        width: 16px;
        height: 16px;
    }
    
    .main-header__logo h4 {
        margin-left: 2px;
        font-size: 14px;
    }
    .main-header__logo {
        margin-left: 0.5rem;
    }
    .main-header__links {
        margin-left: 0;
    }
    .main-header__links a,
    .main-header__accounts a {
        font-size: 12px;
        margin-right: 0.5rem;
    }
    .main-header__accounts a:last-of-type {
        padding: 3px 14px;
        border-radius: 5px;
    }
    .container h3 {
        font-size: 18px;
    }
    .hero-container {
        height: 18rem;
    }
    .hero-container h3 {
        padding-top: 2.5rem;
    }
    .hero-container__input {
        height: 2.5rem;
    }
    .hero-container__input svg {
        width: 16px;
        height: 16px;
        padding-left: 1rem;
    }
    .hero-container__input input {
        padding-left: 0.5rem;
        font-size: 17px;
        height: 2rem;
    }
    .hero-container__input input::placeholder {
        font-size: 12px;
    }
    /* Recommendation section */
    
    .recommendation-container {
        height: 42rem;
    }
    
    .recommendation-container h3 {
        padding-top: 0.5rem;
    }
    
    .recommendation-container > p {
        padding-top: 0;
        margin: 0;
        font-size: 12px;
    }
    
    .recommendation-cards {
        padding-top: 2rem;
    }
    
    .recommendation-card {
        padding: 14px 30px 45px 8px;
    }
    
    .recommendation-card h5 {
        font-size: 14px;
    }
    
    .recommendation-card p {
        width: 16rem;
        font-size: 16px;
    }
    form {
        padding: 1.2rem 1.4rem 1.4rem 1.2rem;
        width: 28rem;
    }
    
    form label {
        font-size: 14px;
    }
    
    .short-input {
        width: 80%;
        height: 2.5rem;
    }
    
    .long-input {
        width: 80%;
        height: 6.75rem;
    }
    
    .dashed-input {
        margin-bottom: 1.8rem;
        font-size: 14px;
    }
    
    form button {
        width: 120px;
        height: 40px;
    }
    
    /* Footer section */
    
    .footer-container {
        /* justify-content: space-evenly; */
    }
    .footer-items ul {
        margin-right: 0;
    }
    
    .footer-items li:first-of-type {
        padding-bottom: 0.5rem;
        font-size: 14px;
        }
    
    .footer-items a {
        font-size: 8px;
    }
    
    .copyright {
        margin-top: 0.5rem;
        font-size: 12px;
        line-height: 24px;
    }
}